{% extends "base.html" %}

{% block content %}
<center><h1>Add a Blog Entry</h1></center>

<form action="/newpost" method="POST">
    <table>
        <tr>
            <td><label for="title">Title for your new blog:</label></td>
            
        </tr>       
        <tr> 
            <td>
                <input name="title" type="text" value="{{title}}"/>
            </td>
            <td><a class="error">{{title_error}}</td>
        </tr>

        <tr>
            <td>  <br> <br>           
            </td>
        </tr>
        
        

        <tr>
            <td><label for="blog">Your new blog:</label></td>
            <td>
        </tr>  
        <tr>    
            <td>  
                <textarea name="blog" rows=5 cols=20>{{blog}}</textarea>
            </td>
            <td><a class="error">{{blog_error}}</td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}